#country {
    overflow-y: auto;
}

#country .background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: .07;
    z-index: -1;
}

#country .informations {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
}

#country .content {
    flex: 1;
}

#country .content header {
    width: 100%;
    display: flex;
    gap: 0 5px;
    margin: 0 0 10px 0;
}

#country .img {
    display: flex;
    margin: 0 15px 0 0;
    flex: 1;
}

#country .img img {
    width: 100%;
    border-radius: 8px;
}

#country .listComponent {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

#country .listComponent li {
    width: 100%;
    background-color: #f9f9f9c2;
    border-radius: 10px;
    margin-top: 4px;
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 26%);
}

#country .listComponent li:first-child {
    margin-top: 0;
}

#country input:disabled {
    outline: 0;
    border-color: transparent;
    background: transparent;
}

.map-link {
    text-align: center;
    cursor: pointer;
}

.map-link:hover {
    background-color: #d4d4d4c2 !important;
}

@media(max-width: 800px) {
    #country .informations {
        flex-direction: column;
    }

    #country .content {
        width: 100%;
    }

    #country .img {
        margin: 0 0 15px 0;
        flex: unset;
        justify-content: center;
    }

    #country .img img {
        width: auto;
        max-height: 200px;
        max-width: 100%;
    }

    #country .listComponent {
        width: 100%;
    }
}